@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

/* Estilização Web */
@media(min-width: 1024px) {
  .why-we-do-it {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  body {
    background: #E5E5E5;
  }

  .why-we-do-it p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #292929, 100%;
    font-family: 'Barlow', sans-serif;
  }

  .why-we-do-it h2 {
    color: #292929, 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }

  .why-we-do-it img {
    width: 1097.5px;
    height: 477px;
}
}

/* Estilização mobile */
@media(max-width: 1024px) {
  
  /* Título - Mobile */
  .why-we-do-it h2{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #292929;
  }

  /* Imagem - Mobile */
  .why-we-do-it img{
    width: 543px;
    height: 236px;
  }
   
  /* Descrição - Mobile */
  .why-we-do-it p{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000, 100%;
  }
}