@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

footer .contatoFooter .phone{
    display: flex;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media (max-width: 1024px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 512px;
        max-height: 100vh;
        font-size: 12px;
    }

    footer .arrow{
        order: -1;
    }

    footer .logoCitiFooter{
        order: -1;
    }

    footer .endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .endereco .address{
        text-align: center;
        width: 70%;
    }

    footer .endereco img{
        height: 15px;

    }

    footer .contatoFooter .socialNetworksFooter{
        display: flex;
        justify-content: center;
    }

    footer .contatoFooter .phone{
        margin-top: 20px;
    }

    footer .contatoFooter .socialNetworksFooter img{
        margin-right: 15px;
    }

    footer .line{
        display: block;
        width: 60px;
        height: 0px;
        border-bottom: 3px solid #292929;
    }

    footer .endereco a{
        text-decoration: none;
        color: #292929;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
  
@media (min-width: 1025px) {
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 360px;
    font-size: 16px;
}

.arrow{
    display: none;
}

footer .line{
    display: none;
}

footer .mobileText{
    display: none;
}
footer .logoCitiFooter img{
    height: 100px;
}

footer .contatoFooter .socialNetworksFooter img{
    margin-right: 5px;
}

footer .endereco{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

footer .endereco p{
    width: 200px;
    text-align: right;
}

footer .endereco a{
    display: none;
}

footer .endereco .message{
    display: flex;
    justify-content: center;
}

footer .endereco .message p{
    display: flex;
    width: 17vw;
}

footer .endereco .message #logoDoCiti{
    height: 20px;
}
} 