@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
:root {
    --proportion: calc( 100vw / 1920);
    --proportion-mobile: calc( 100vw / 414);
}

.contact-place {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.contact-content {
    font-family: 'Barlow', sans-serif;
    display: flex;
}

.contact-content form {
    display: flex;
    flex-direction: column;
}

.contact-content form input,
textarea {
    border: none;
    border-bottom: solid;
    border-width: 2px;
}

input:focus,
textarea:focus {
    outline: none;
}

.social-network-contact {
    position: relative;
}

.social-network-contact img {
    position: absolute;
    height: 700px;
    width: auto;
    top: -300px;
    left: -140px;
    z-index: -1;
}

.contact-content form p {
    margin: 0;
}

@media (min-width: 1025px) {
    .contact-content {
        justify-content: space-between;
        width: 62.5vw;
    }
    .social-network-contact {
        font-size: calc(19 * var(--proportion));
        align-self: center;
    }
    .social-network-contact p {
        font-size: calc(19 * var(--proportion));
    }
    .contact-content form p {
        margin-top: calc(43 * var(--proportion));
        font-size: calc(16 * var(--proportion));
        font-weight: 400;
    }
    .contact-content form input[type="text"] {
        height: calc(40 * var(--proportion));
        width: calc(491 * var(--proportion));
        font-size: 22px;
    }
    .contact-content form input[type="email"] {
        height: calc(40 * var(--proportion));
        width: calc(491 * var(--proportion));
        font-size: 22px;
    }
    .contact-content form input::placeholder {
        color: #292929;
        font-size: calc(22 * var(--proportion));
    }
    input.contact-phone {
        margin-top: calc(18 * var(--proportion));
        font-size: calc(22 * var(--proportion));
        line-height: 40px;
    }
    .contact-content form textarea {
        height: calc(114 * var(--proportion));
        width: calc(491 * var(--proportion));
        resize: none;
    }
    .contact-content form textarea::placeholder {
        color: #292929;
        font-size: calc(22 * var(--proportion));
        transform: translateY(calc(85 * var(--proportion)))
    }
}