/* Web - Bigger */
@media (min-width: 1920px) { 
  .blogWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .cardContainer {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-content: space-between;
  }

  .topCard{
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  .bottomCard{
    align-self: flex-end;
  }
}


/* Web - Responsive */
@media (min-width: 1024px) and (max-width: 1920px) { 
  .blogWrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .cardContainer {
    display: flex;
    width: 62.5vw;
    flex-direction: column;
    align-content: space-between;
  }

  .topCard{
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  .bottomCard{
    align-self: flex-end;
  }

}

/* Mobile */
@media (max-width: 1024px){
  .topCard {
    margin-bottom: 32px;
  }
}

/* Sets Image Direction */
.bottomCard .blogCard {
  flex-direction: row-reverse;
}

.topCard .blogCard {
  flex-direction: row;
}