.our-events {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.slick-slide.slick-active.slick-center.slick-current {
    transform: scale(1.05);
}

.slick-dots li button {
    width: fit-content !important;
    height: fit-content !important;
    transform: scale(3);
}

.slick-slide {
    width: 30vw;
}

.our-events .content {
    width: 62.5vw;
}

@media (min-width: 1920px) {
    .our-events .content {
        width: 1200px
    }
    .slick-slide {
        width: 564px;
    }
}