@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
:root {
   --proportion: calc( 100vw / 1920);
}
.agendaCard {
   display: flex;
   flex-direction: column;
   font-family: 'Barlow', sans-serif;
   height: calc(613 * var(--proportion));
   margin: 20px;
   box-shadow: 0px 9.31395px 9.31395px rgba(52, 51, 50, 0.3);
   font-size: 19px;
   line-height: 22px;
   border-radius: 4px;
}

.agendaCard .subscriptionDeadline{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 10px;
}

.agendaCard h3 {
   font-weight: 700;
   font-size: 22px;
   margin-left: 0px;
   margin: 10px;
}

.agendaCard .dateAndLocal {
   margin: 0;
   padding: 0;
   display: flex;
   color: #343332;
   font-weight: 400;
   font-size: 16px;
}

.agendaCard .dateAndLocal p {
   display: flex;
   margin: 10px;
}

.agendaCard .dateAndLocal p img {
   margin-right: 5px;
}

.agendaCard .knowMore {
   display: flex;
   position: absolute;
   bottom: 40px;
   right: 40px;
}

.agendaCard .knowMore img {
   margin-left: 10px;
}

.agendaCard .description {
   margin-left: 10px;
}

.agendaCard .description p {
   margin-top: 8px;
   font-weight: 401;
   line-height: 23px;
}

.agendaCard img {
   max-width: 100%;
}

.agendaCard a {
   text-decoration: none;
   color: #343332;
   font-size: 22px;
   font-weight: 500;
}
/* Defines style to a desktop screen */

@media (min-width: 1024px) and (max-width: 1249px) {
    .agendaCard .subscriptionDeadline{
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.98vw;
        line-height: 1.2vw;
        margin-bottom: 0;
        margin-top: 0.4vw;
        margin-left: 10px;
    }

   .agendaCard h3 {
       font-size: 20px;
       margin-bottom: 0px;
   }
   .agendaCard .dateAndLocal p {
       font-size: 0.8rem;
       margin-bottom: 0px;
       margin-top: 0px;   
   }
   .agendaCard .dateAndLocal p img {
       height: 20px;
   }
   p.description {
       font-size: 0.6rem;
       line-height: normal;
   }
   .agendaCard .knowMore {
       bottom: 30px;
       right: 30px;
   }
   .agendaCard .knowMore a {
       font-size: 15px;
   }
   .agendaCard .knowMore img {
       margin-left: 3px;
       padding-top: 3px;
   }
}

@media (min-width: 1250px) and (max-width: 1800px) {
   .agendaCard .dateAndLocal {
       margin-bottom: 0px;
       font-size: 0.7rem;
   }
   .agendaCard .dateAndLocal img {
       margin-top: -5px;
   }
   .agendaCard .dateAndLocal p {
       margin-bottom: 0px;
   }
   .agendaCard {
       font-size: 0.7rem;
       line-height: normal;
   }
   .agendaCard a {
       font-size: 1rem;
   }
}

@media (min-width: 1800px) {
   .agendaCard {
       font-size: 19px;
       border-radius: 4px;
   }
}

@media (max-width: 1023px) {
   .agendaCard .dateAndLocal {
       margin-bottom: 0px;
       font-size: 0.7rem;
   }
   .agendaCard .dateAndLocal p {
       margin-bottom: 0px;
   }
   .agendaCard {
       height: 513px !important;
       font-size: 15px;
       line-height: 18px;
       margin: 10px;
   }
}

@media (min-width: 580px) and (max-width: 1024px) {
   .agendaCard {
       height: 700px !important;
       border-radius: 4px;
   }
}

@media (min-width: 1921px) {
   .agendaCard {
       height: 613px!important;
       border-radius: 4px;
   }
}