@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
:root {
    --proportion: calc( 100vw / 1920);
}

.ourEventsCard {
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    height: calc(613 * var(--proportion));
    margin: 20px;
    box-shadow: 0px 9.31395px 9.31395px rgba(52, 51, 50, 0.3);
    font-size: 19px;
    line-height: 22px;
}

.ourEventsCard h3 {
    font-weight: 700;
    font-size: 22px;
    margin-left: 0px;
    margin: 10px;
}

.ourEventsCard .dateAndLocal {
    margin: 0;
    padding: 0;
    display: flex;
    color: #343332;
    font-weight: 400;
    font-size: 16px;
}

.ourEventsCard .dateAndLocal p {
    display: flex;
    margin: 10px;
}

.ourEventsCard .dateAndLocal p img {
    margin-right: 5px;
}

.ourEventsCard .knowMore {
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.ourEventsCard .knowMore img {
    margin-left: 10px;
}

.ourEventsCard .description {
    margin-left: 10px;
}

.ourEventsCard .description p {
    margin-top: 8px;
    line-height: 23px;
}

.ourEventsCard img {
    max-width: 100%;
}

.ourEventsCard a {
    text-decoration: none;
    color: #343332;
    font-size: 22px;
    font-weight: 500;
}


/* Defines style to a desktop screen */